---
import { getCollection, render } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import PostCard from '../../../components/PostCard/index.astro';
import PageTitle from '../../../components/PageTitle/index.astro';
import { pageInfo } from '../../../data/pageInfo';
import PostFilterPanel from '../../../components/PostFilterPanel/index.astro';

export async function getStaticPaths() {
	const allPosts = await getCollection('posts');
	const tagsSet = new Set<string>();
	allPosts.forEach((post) => {
		post.data.tags?.forEach((tag: string) => tagsSet.add(tag));
	});
	const tags = Array.from(tagsSet);
	return [...tags.map((tag) => ({ params: { tag }, props: { posts: allPosts } }))];
}

const { tag } = Astro.params;

const posts = Astro.props.posts ?? [];
const sortedPosts = posts.filter((post: any) => post.data?.tags?.includes(tag) && post.data.status === 'published');

const getCategories = (posts: any[]) => {
	const categoriesSet = new Set<string>();
	posts.forEach((post) => {
		if (post.data.category) {
			categoriesSet.add(post.data.category);
		}
	});
	return Array.from(categoriesSet);
};
const getTags = (posts: any[]) => {
	const tagsSet = new Set<string>();
	posts.forEach((post) => {
		post.data.tags?.forEach((tag: string) => tagsSet.add(tag));
	});
	return Array.from(tagsSet);
};

const countByCategory = posts.reduce(
	(acc, post) => {
		const category = post.data.category;
		if (category) {
			acc[category] = (acc[category] || 0) + 1;
		}
		return acc;
	},
	{} as Record<string, number>,
);
const countByTag = posts.reduce(
	(acc, post) => {
		const tags = post.data.tags || [];
		tags.forEach((tag) => {
			acc[tag] = (acc[tag] || 0) + 1;
		});
		return acc;
	},
	{} as Record<string, number>,
);
const currentPath = Astro.url.pathname;
---

<Layout pageTitle={tag} description={`${tag}のタグが付いた記事一覧`} pageType={pageInfo.post.type}>
	<section class='contents-index'>
		<PageTitle title={pageInfo.post.headingTitle} description={pageInfo.post.headingDescription} />
		<div class='layout'>
			<aside class='layout__side-nav'>
				<div class='flex flex-col items-baseline'>
					<div>
						<PostFilterPanel sortTarget={'カテゴリ'} slug={'/my_profile/posts/categories/'} filteredObj={getCategories(posts)} objNum={countByCategory}>
							<option value='/my_profile/posts/' selected={currentPath === '/my_profile/posts/'}>全ての投稿({posts.length})</option>
						</PostFilterPanel>
					</div>
				</div>
			</aside>
			<ul class='layout__grid grid grid gap-4 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 auto-rows-auto gap-4'>
				{sortedPosts.map((post) => (post.data.status === 'published' ? <PostCard post={post} /> : null))}
			</ul>
		</div>
	</section>
</Layout>

<style>
	.item {
		width: 320px;
	}
	.links {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-left: 1rem;
	}

	.layout {
		display: flex;
		gap: 1rem;
		align-items: flex-start;
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
	}

	.layout__grid {
		flex: 1;
	}
</style>
