---
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle/index.astro';
import { pageInfo } from '@/data/pageInfo';
import { Image } from 'astro:assets';
import profileImage from '@/images/profile/bass.webp';

const dtClass = 'text-lg font-bold mb-2';
---

<Layout title={pageInfo.profile.metaTitle} description={pageInfo.profile.metaDescription} type={pageInfo.profile.type}>
	<section>
		<PageTitle title={pageInfo.profile.headingTitle} description={pageInfo.profile.headingDescription} />
		<div class='container flex flex-col items-center gap-8'>
			<Image src={profileImage} alt='プロフィール画像' width={300} height={400} class='rounded-xl' />
			<div class='text-center'>
				<p class='text-lg font-bold'>Hiroyuki9614</p>
				<p class='text-sm text-gray-600'>プログラマー</p>
			</div>
			<div class='max-w-2xl text-left'>
				<div class='text-base text-gray-700 mb-4'>
					<h2 class='text-2xl font-bold mb-4'>プログラマーになる前の経歴</h2>
					<dl class='mb-4'>
						<dt class={dtClass}>営業/事務職</dt>
						<dd>キャリアのスタートはメーカーの営業職と事務職でした。</dd>
						<dd>古い体制の業界で、当時としても既に古くなっていたFAXを未だに使うような環境でした。</dd>
						<dd>この時に、効率化や自動化の重要性を強く感じたことが間違いなく今の原点になっています。</dd>
					</dl>
					<dl class='mb-4'>
						<dt class={dtClass}>電気設計/制御</dt>
						<dd>およそ5年間、プラント設備を中心とした強電分野および電気制御分野において、</dd>
						<dd>電気設計を担当していました。</dd>
						<dd>制御盤設計、配線図作成、施工管理補助に加え、設計から製図、制御盤組立、工事、検収まで一貫して対応した経験があります。</dd>
						<dd>また、プログラミング経験がない状態からでも、現場での調整や</dd>
						<dd>試行錯誤を通じて検収まで対応した経験があります。</dd>
					</dl>
				</div>
				<div class='text-base text-gray-700 mb-4'>
					<h2 class='text-2xl font-bold mb-4'>今の業務での経験</h2>
					<dl>
						<dt class={dtClass}>プログラマー</dt>
						<dd>Web系の開発を中心に、プログラマーとして業務に従事しています。</dd>
						<dd>PHP、JavaScriptを主軸に、VBAやPythonも含めた複数言語での開発を行い、 既存システムの改修・運用から新規機能の実装まで一貫して対応しています。</dd>
						<dd>レガシー環境下においても改善を意識し、社内ツールにReactを導入するなど、 モダン技術の適用による開発効率と保守性の向上に取り組んでいます。</dd>
						<dd>また、設計から実装まで一貫して関わる中で、単に動作するだけでなく、 保守性や拡張性を考慮した設計・実装を継続的に行っています。</dd>
					</dl>
				</div>
				<div class='text-base text-gray-700 mb-4'>
					<h2 class='text-2xl font-bold mb-4'>スキル</h2>
					<dl>
						<dt class={dtClass}>経験言語/フレームワーク</dt>
						<dl>
							<dt class='font-bold'>JavaScript / TypeScript</dt>
							<dd class='mb-1'>DOM操作からとある業務用の計算ツールの設計・作成・テストまですべて対応しました。</dd>
							<dt class='font-bold'>React / hono（学習中含む）</dt>
							<dd class='mb-1'>業務内外問わず導入を進めており、フォーム制作の際にも活用しはじめています。</dd>
							<dt class='font-bold'>PHP / WordPress / Laravel</dt>
							<dd>当初はWordPressから触り始めましたが、今は既存の社内システムの改修・運用から新規機能の実装まで幅広く対応しています。</dd>
							<dd class='mb-1'>現在ではLaravelを用いた開発も行っています。</dd>
							<dt class='font-bold'>VBA / Python</dt>
							<dd>とある銀行系の会社にツールとしてテスト駆動開発でVBAを書いてACCESSで作成したシステムを納品しました。</dd>
							<dd class='mb-1'>また、Pythonでも社内ツールの作成と改修を多数行っています。</dd>
						</dl>
					</dl>
				</div>
			</div>
		</div>
	</section>
</Layout>
