---
const apiKey = import.meta.env.PUBLIC_API_KEY;
// APIから天気予報を取得して表示するコンポーネント
const todaysWeather = await fetch(`https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid=${apiKey}`)
	.then((response) => response.json())
	.catch((error) => {
		console.error('Error fetching weather data:', error);
		return null;
	});
const getLo = await fetch(`http://api.openweathermap.org/geo/1.0/zip?zip=E14,GB&appid=${apiKey}`)
	.then((response) => response.json())
	.catch((error) => {
		console.error('Error fetching location data:', error);
		return null;
	});
---

<p>{getLo.name}</p>
