---
import HeaderNav from '../components/HeaderNav/index.astro';
import Footer from '../components/Footer/index.astro';
import '../styles/global.css';
import favicon from '/favicon.ico';
import { type PageMeta } from '../data/pageInfo';
import profileImage from '@/images/profile/bass.webp';

const { metaTitle = 'hiroyuki9614', metaDescription = '', type = 'website' } = Astro.props as PageMeta;
---

<html lang='ja'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta property='og:site_name' content='hiroyuki9614' />
		<meta property='og:title' content={metaTitle} />
		<meta property='og:type' content={type === 'website' ? 'website' : 'article'} />
		<meta property='og:url' content={Astro.site?.href || ''} />
		<meta property='og:description' content={metaDescription} />
		<meta property='og:image' content='../images/profile/ogp_image.png' />

		<link rel='icon' href={favicon} />

		<title>{metaTitle ? `${metaTitle} | hiroyuki9614` : 'hiroyuki9614'}</title>
		<meta name='description' content={metaDescription} />

		<script async src='https://www.googletagmanager.com/gtag/js?id=G-BKZPXWVEQW'></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				window.dataLayer.push(arguments);
			}
			gtag('js', new Date());
			gtag('config', 'G-BKZPXWVEQW');
		</script>
	</head>

	<body>
		<HeaderNav />
		<slot />
		<Footer />
	</body>
</html>
