---
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle/index.astro';
import ProjectCard from '@/components/ProjectCard/index.astro';
import portfolioImages from '@/data/portfolioImages';
import blogImage from '@/images/portfolio/blog.png';
import oddtrackImage from '@/images/portfolio/oddtrack.png';
import { pageInfo } from '@/data/pageInfo';
---

<Layout title={pageInfo.portfolio.metaTitle} description={pageInfo.portfolio.metaDescription}>
	<section class='contents'>
		<PageTitle title={pageInfo.portfolio?.headingTitle ?? 'Default Title'} description={pageInfo.portfolio?.headingDescription} />
		<div class='container'>
			{
				Object.values(portfolioImages).map((project, index) => (
					<ProjectCard
						classList={'mb-12'}
						url={project.url}
						thumbnail={project.displayImage}
						thumbnailAlt={project.displayImageAlt}
						slideImages={project.slideImages}
						title={project.title}
						description={project.description}
						tech={project.tech}
						tags={project.tags}
						githubLink={project.githubLink}
					/>
				))
			}
		</div>
	</section>
</Layout>
<style></style>
