---
import Layout from '@/layouts/Layout.astro';
import PageTitle from '@/components/PageTitle/index.astro';
import ProjectCard from '@/components/ProjectCard/index.astro';
import blogImage from '@/images/portfolio/blog.png';
import oddtrackImage from '@/images/portfolio/oddtrack.png';
import { pageInfo } from '@/data/pageInfo';
---

<Layout title={pageInfo.portfolio.metaTitle} description={pageInfo.portfolio.metaDescription}>
	<section class='contents'>
		<PageTitle title={pageInfo.portfolio?.headingTitle ?? 'Default Title'} description={pageInfo.portfolio?.headingDescription} />
		<div class='container'>
			<ProjectCard
				classList={''}
				url={'https://hiroyuki9614.github.io/my_profile/'}
				thumbnail={blogImage}
				thumbnailAlt='ブログのスクリーンショット'
				title='ブログアプリ'
				description='このホームページです。 GitHub Pagesにデプロイしています。'
				tech='Astro, TypeScript'
				tags={['astro']}
				githubLink='https://github.com/hiroyuki9614/my_profile'
			/>
			<ProjectCard
				classList={'mt-10'}
				thumbnail={oddtrackImage}
				thumbnailAlt='oddtrackのスクリーンショット'
				title='走行距離管理アプリ'
				description='私が初めて作成したWEBアプリです。'
				tech='Ruby on Rails, Vue.js'
				tags={[]}
				githubLink='https://github.com/hiroyuki9614/odo_track'
			/>
			<ProjectCard
				classList={'mt-10'}
				thumbnailAlt='書籍閲覧アプリのスクリーンショット'
				title='書籍閲覧アプリ(作成中)'
				description='WEB上で書籍を閲覧できるアプリです。現在開発中です。'
				tech='React + Vite, Hono'
				tags={['bookLibrary']}
				githubLink='https://github.com/hiroyuki9614/book_library'
			/>
		</div>
	</section>
</Layout>
<style></style>
